window {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 28px;
    border: 5px solid rgba(255,255,255, 0.4);
    font-family: "Segoe UI Variable", "Inter", sans-serif;
 }

/* search entry */
entry {
    background-color: rgba(255,255,255, 0.15);
    border: 4px solid rgba(255, 255, 255, 0.4);
    border-radius: 14px;
}

button, image {
    background: none;
    border: none;
    border-radius: 8px;
    padding: 3px 0px;
    margin: 0px;
    font-size:11px;
    font-weight:bold;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(255, 255, 255, 0.3);
}
/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px
}

/* math operation result label */
#math-label {
    font-weight: bold;
    font-size: 16px
}
