* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

window {
    background-color: rgba(30, 30, 46, 0.0); /* Semi-transparent Mocha */
}

button {
    background-color: rgba(30, 30, 46, 0.5);
    border: 9px solid rgba(255,255,255,0.75);
    border-radius: 38px;
    margin: 15px;
    /*transition: 200ms all ease-in-out;*/

    /* Makes the text invisible so only the icon shows */
    color: transparent;

    /* Centers and sizes the icons */
    /*background-repeat: no-repeat;
    background-position: center;*/
    background-size: 35%;
}

button:hover {
    background-color: rgba(255,255,255,0.6);
    border: 9px solid #f0f0f0;
}

/*button#shutdown:hover {
    background-color: #f38ba8;xb
    border: 5px solid #f38ba8;
}*/

/* --- Mapping the Native Icons --- */
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}
#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}
#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
